. ./java-options

RRMASTER="$1"

shift

java $JAVA_OPTS -jar target/$RESTREPLAY_JAR \
   -master $RRMASTER \
   -testdir ./src/main/resources/restreplay \
   -selftest \
   -reports /Users/vcrocla/src/RestReplay/reports \
  $*
