<!-- NOTE: we are now below the end of the LIVE_SECTION, where all javascript querying functions are supposed to restrain themselves to.-->
<br />
<br />
<br />
<hr />

<a name="Legend"></a>
<h2 class='DETAIL_HDR'>Legend</h2>
<div style="float: right; padding: 0; margin: 0;">
    <div class="MENULINKS MENULINKS_FONT shadow" style="background-color: white; margin: 0;">
        <p class="menuItem"><a href="#Top">Top</a></p>
        <p class="menuItem"><a href="javascript:showFloatingMenu();">Show Menu</a></p>
    </div>
</div>
<div class="legend">
    <table class="TOC_TABLE" border="1">
        <tr>
            <td colspan="8" class="TOC_HDR">Summary</td>
        </tr>
        <tr>
            <td>
                <span class="OK">SUCCESS</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="EXPECTED">EXPECTED</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="ERROR">FAILURE</span>
            </td>
        </tr>
    </table>
    <p></p>
    <div class="varslist" style="background-color: white;">
        <div class="vars">This is a variable</div>
        <div class="exports">This is an export</div>
    </div>
    <div class="toc-error">This is an error</div>
    <br />
    <div class="toc-warn">This is a warning</div>

    <div class="payloads"><div class="DETAIL_TABLE autodelete">&#10034; &mdash; AutodeletedTestResult</div></div>

    <div class="evalReport">
        <div class="evalReportTestIDLabel">Eval Report for one testID <span class='LABEL'>(preflight)</span></div>
        <p>preflight is for expressions like loop="${['a','b']}" which get evaluated before the test gets created,
            so you'll see the same testID is shown with a new header in the eval report after the preflight section.</p>
        <div class="evalReportTestIDLabel">Eval Report for one testID</div>

        <div class="evalReportRow  evalReport-level0">
            <span class="evalReportContext">title and id of level 0 items such as vars</span>
            <span class="evalReportExpression">expression</span>
            <span class="evalReportValue">value</span>
        </div>

        <div class="evalReportRow  evalReport-level1" style="display: block;">
            <span class="evalReportContext">title and id of items that are eval'd in a nested context</span>
            <span class="evalReportExpression">expression</span>
            <span class="evalReportValue">value</span>
        </div>
    </div>

    <h4>ResourceManager Summary <small>(master index)</small></h4>
    <table class="resource-history">
        <tr>
            <td><b>resource-found</b></td>
        </tr>
        <tr>
            <td><b class="resource-cached">resource-cached</b></td>
        </tr>
        <tr>
            <td><b class="resource-not-found">resource-not-found</b></td>
        </tr>
    </table>

</div>

<!-- top-positioned menu links -->
<div style="position: absolute; right:3px; top: 3px; ">
    <div class="MENULINKS MENULINKS_FONT shadow" style="background-color: white;">
        <p class="menuItem"><a href="javascript:showFloatingMenu();">Show Menu</a></p>
    </div>
</div>

<!-- floating menu links follows the viewport, not the page. -->
<div class="fixed" id="FloatingMenu">
    <div class="MENULINKS MENULINKS_FONT shadow" style="background-color: white;">
        <p class="menuItem" style="text-align: right; width: 98%; font-size: 50%;"><a href="javascript:hideFloatingMenu();">hide</a></p>
        <p class="menuItem"><a href="#Top">Top</a></p>
        <p class="menuItem"><a href="#SummaryTOC">Summary</a></p>
        <p class="menuItem"><a href="#TestDetail">Test Details</a></p>
        <p class="menuItem"><a href="#EvalReport">Eval Report</a></p>
        <p class="menuItem"><a href="#Legend">Legend</a></p>

    </div>
</div>



