<br />
<br />
<hr />
<h2>Legend</h2>
<div class="legend">
    <div class="varslist" style="background-color: white;">
        <div class="vars">This is a variable</div>
        <div class="exports">This is an export</div>
    </div>
    <div class="toc-error">This is an error</div>
    <br />
    <div class="toc-warn">This is a warning</div>
    <div class="evalReportExpression">Expression</div>
    <div class="payloads"><div class="DETAIL_TABLE autodelete">&#10034; &mdash; AutodeletedTestResult</div></div>

    <div class="evalReportValue">Expression Value</div>
</div>

