<div class='MENULINKS MENULINKS_FONT'>
    <span class="lefty">
        <a class='TOPLINKS' href='javascript:openAll();'>Show Payloads</a>
        <a class='TOPLINKS' href='javascript:closeAll();'>Hide Payloads</a>
        <a class='TOPLINKS' href='javascript:openAllHeaders();'>Show Headers</a>
        <a class='TOPLINKS' href='javascript:closeAllHeaders();'>Hide Headers</a>
        <a class='TOPLINKS' href='javascript:openAllMutations();'>Show Mutations</a>
        <a class='TOPLINKS' href='javascript:closeAllMutations();'>Hide Mutations</a>
    </span>
    <span class="righty">
        <a class='TOPLINKS' href='#Top'>Top</a><a class='TOPLINKS' href='#Legend'>Legend</a>
    </span>
</div>
